body {
    margin: 0;
}

.navbar {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(165,2,57);
    padding: 10px 20px;
}

.navbar .left a {
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.navbar .center a,
.navbar .right a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.navbar .center {
    flex: 1;
    text-align: center;
}