body {
    margin: 0;
    font-family: 'Wiguru', sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(165,2,57);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
}

.left {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 90px;
    height: auto;
}

.navbar .center a{
    margin: 0 50px;
    color: white;
    text-decoration: none;
}

.navbar .right a {
    margin: 0 40px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(73, 0, 24);
}


.navbar .center {
    flex: 1;
    text-align: center;
}

.image_base {
    width: 220px;
    margin: 15px 20px;
    float: left;
    border: 1px solid rgb(218, 20, 89);
    border-radius: 10px;
    display: block;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.484);
}

.content {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.image_base img {
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.news {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.description {
    width: 40%;
    font-family: 'Ofonto';
}

.description p {
    font-size: 22px;
}

.section-title {
    background-color: rgb(168, 7, 61);
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 15px;
}

.updates {
    width: 40%;
    font-family: 'Ofonto';
}

.updates ul {
    list-style: none;
    padding: 0;
}

.updates li {
    margin-bottom: 8px;
    font-size: 20px;
}

.updates .highlight {
    color: rgb(168, 7, 61);
    font-weight: bold;
    font-size: 20px;
}

.updates .spoiler {
    color: rgb(168, 7, 61);
    font-size: 20px;
}

@font-face {
    font-family: 'Wiguru';
    src: url('fonts/wiguru-13.ttf') format('truetype');
}

@font-face {
    font-family: 'Ofont';
    src: url('ofont.ru_Copperplate.ttf') format('truetype');
}

.theory-card {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

video {
    width: 100%;
    height: 370px;
    object-fit: cover;
    border-radius: 12px;
}

.theory-card h2 {
    font-size: 28px;
    margin: 20px 0;
    color: rgb(128, 0, 32);
    font-weight: bold;
}

.theory-card p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: npne;
    color: black;
    font-weight: bold;
    transition: 03.s;
}

.btn:hover {
    background: black;
    color: white;
}

.tg-channel {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.tg-channel h2 {
    font-size: 28px;
    margin: 20px 0;
    color: rgb(128, 0, 32);
    font-weight: bold;
}

.tg-channel p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.ranobe {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ranobe h2 {
    font-size: 28px;
    margin: 20px 0;
    color: rgb(128, 0, 32);
    font-weight: bold;
}

.ranobe p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.ilustration {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ilustration h2 {
    font-size: 28px;
    margin: 20px 0;
    color: rgb(128, 0, 32);
    font-weight: bold;
}

.ilustration p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.characters {
    width: 80%;
    margin: 30px auto;
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.characters h2 {
    font-size: 28px;
    margin: 20px 0;
    color: rgb(128, 0, 32);
    font-weight: bold;
}

.characters p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(165,2,57);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.footer-nav a:hover {
    text-decoration: underline;
}