@font-face {
    font-family: 'Vag-Heavy';
    src: url('fonts/VAG\ Rounded\ Next\ Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Bold';
    src: url('fonts/VAG\ Rounded\ Next\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Medium';
    src: url('fonts/VAG\ Rounded\ Next\ Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Regular';
    src: url('fonts/VAG\ Rounded\ Next\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Thin';
    src: url('fonts/VAG\ Rounded\ Next\ Thin.ttf') format('truetype');
}

:root {
    --fs-title1: clamp(5px, 2.75vw, 42px);
    --fs-title2: clamp(5px, 2.35vw, 36px);
    --fs-title3: clamp(5px, 1.8vw, 28px);
    --fs-text: clamp(5px, 1.15vw, 18px);
    --fs-nav: clamp(5px, 0.91vw, 14px);
    --fs-login: clamp(5px, 1.30vw, 20px);
    --fs-footer: clamp(5px, 0.78vw, 12px);
    --fs-nav-links: clamp(5px, 1.17vw, 18px);
}

h1{
    font-size: var(--fs-title1);
    font-family: 'Vag-Heavy';
    line-height: 1.15em;
    color: white;
    margin:0px;
    font-weight: 400;
}

h2{
    font-size: var(--fs-title2);
    font-family: 'Vag-Bold';
    line-height: 1.2em;   
    color: white;
    margin:0px; 
    font-weight: 400;
}

h3{
    font-size: var(--fs-title3);
    font-family: 'Vag-Medium';
    line-height: 1.25em;
    color: white;
    margin:0px;
    font-weight: 400;
}

p{
    font-size: var(--fs-text);
    font-family: 'Vag-Regular';
    line-height: 1.4em;
    color: white;
    margin:0px;
}

button {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border: clamp(0.01px,0.195vw,3px) solid rgb(229, 11, 85);
    border-radius: clamp(1px,0.65vw,10px);
    padding-block: clamp(1px,0.39vw,6px);
    padding-inline: clamp(1px,0.975vw,15px);
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #33333300;
    align-items: center;
}


button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pan-Regular', sans-serif;
    background-image: url('images/test.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}


main {
    max-width: 1540px;
    margin: 0 auto;
    padding: 30px;
    flex: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* ==== Навбар НАЧАЛО ==== */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1500;
    text-decoration: none;
}

/* ==== Навбар левая часть ==== */

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .logo-link,.footer-nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo,.footer-nav .logo {
    height: 2vw;
    width: auto;
    padding-block: 10px;
}

/* ==== Навбар центральная часть ==== */

.navbar .center {
    flex: 1;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Vag-Medium', sans-serif;
    font-size: var(--fs-nav)
}

.navbar a span {
    position: relative;
    display: inline-block;
}

.navbar a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.navbar a:hover {
    color: rgb(224, 11, 82);
}

.navbar  a:hover span::after {
    width: 100%;
    background: rgb(224, 11, 82);
}

/* ==== Навбар правая часть ==== */

.navbar .right {
    min-width: 130px;
}

.navbar .right button {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Vag-Bold', sans-serif;
    font-size: var(--fs-login);
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #33333300;
    align-items: center;
}


.navbar .right button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}


/* ==== НАВБАР МОБИЛКА ==== */

/* ==== Гамбургер ==== */

.navbar .hamburger svg{
    color: rgb(224, 11, 82);
    transition: 0.2s;
}


.navbar .hamburger:hover svg{
    color: rgb(143, 17, 68);
}


.navbar .hamburger {
    display: none;
    background: none;
    border: none;
    color: rgb(224, 11, 82);
    cursor: pointer;
}

/* ==== Менюшка сбоку ==== */

.side-menu {
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100%;
    background: rgb(28, 22, 46);
    padding: 30px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.side-menu.open {
    right: 0;
}


.navbar .login-btn-mobile{
    background: none;
    border: none;
    display: none;
}

.navbar .right-mobile{
    display: flex;
}

/* ==== Адаптив ==== */

@media (max-width: 1060px) {
    .center {
        display: none;

    }

    .navbar{
        padding: 5px 20px;
    }
    .navbar a {
        margin: 0px 0px;
        color: white;
        text-decoration: none;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 12px;
    }

    .navbar .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        padding: 5px;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    .navbar .right{
        display: none;
    }

    .navbar .right-mobile .login-btn-mobile  {
        margin: 0 20px;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 14px;
        border: 2px solid rgb(229, 11, 85);
        border-radius: clamp(1px,0.65vw,10px);
        padding-block: 6px;
        padding-inline: 15px;
        justify-content: center;
        cursor: pointer;
        background-color: #33333300;
        align-items: center;
        display: flex;
    }

    .navbar .right-mobile{
        min-width: 130px;
        align-items: center;

    }

    .navbar .right-mobile .login-btn-mobile:hover {
        background-color: rgb(143, 17, 68);
        border-color: rgb(143, 17, 68);
    }

    .navbar .logo,.footer-nav .logo{
        height: 25px !important;
        width: auto;
        padding-block: 10px;
    }


    .footer-nav .social-nets-logos {
    height: 25px !important;
    width: auto;
    }

    .footer-nav{
        padding: 5px 20px !important;
    }

    .footer-center p{
        padding:0% 20% !important;
    }

    main {
        padding: 20px;
        gap: 20px;
    }

}



.side-menu .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.side-menu .close-btn svg{
    color: white;
    transition: 0.2s;
}

.side-menu .close-btn svg:hover{
    color: rgb(224, 11, 82);
    transform: rotate(90deg);
}

.side-link-first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.side-links a {
    color: white;
    font-family: 'Pan-Regular';
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}


.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

/* ==== НАВБАР КОНЕЦ ==== */

.content-line1 {
    display: flex;
    gap: 30px;
    align-items: stretch;
    flex-wrap: wrap;
}

.description {
    display: flex;
    flex: 2;
    background: linear-gradient(90deg,#df0e5431 50%, #0b172b);
    border-radius: clamp(1px,0.65vw,10px);
    position: relative;
    overflow: hidden;
}

@media (max-width: 1060px){
    .content-line1{
        gap: 20px;
    }
}

.description {
    flex: 2 2 510px !important;
}

.updates {
    flex: 1 1 270px !important;
}


.image_base {
    width: 33%;
    aspect-ratio: 0.8;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    max-width: 397px;
    z-index: 20;
}

.image_base img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
}




.description-text {
    width: 67%;
    display: flex;
    flex-direction: column;
    padding:clamp(1px,1.3vw,20px);
    gap:clamp(1px,0.65vw,10px)
}

.description-text h2 {
    margin: 0px;
    text-align: center;
}

.description-text p {
    margin: 0px;
}

.content-line2, .content-line3{
    display: flex;
    overflow: hidden;
    border-radius: clamp(1px,0.65vw,10px);
}

.content-line2 .about-school{
    padding:clamp(1px,1.3vw,20px);
    gap:clamp(1px,0.65vw,10px);
    background: linear-gradient(90deg,#df0e5441, #0b172b);
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content-line2 .about-school .text{
    display: flex;
    flex-direction: column;
    gap: clamp(1px,1.3vw,20px);
}

.content-line2 .about-school .button{
    display: flex;
    justify-content: center;
    margin: 0px !important;
}



.content-line2 .about-school p,.content-line3 .about-island p {
    margin: 0px;
}

.content-line2 .about-school h1,.content-line3 .about-island h1 {
    margin: 0px;
    text-align: center;
}

.content-line3 .about-island{
    padding: clamp(1px,1.3vw,20px);
    background: linear-gradient(90deg, #0b172b,#df0e5441);
    width: 64%;
    gap:clamp(1px,0.65vw,10px);
    display: flex;
    flex-direction: column;
}

.school-image-base{
    width: 50%;
    overflow: hidden;
    z-index: 20;
}

.island-image-base{
    width: 36%;
    overflow: hidden;
    z-index: 20;
}

.school-image-base img, .island-image-base img{
    width: 100%;
    height: 100%;
    aspect-ratio: 2/1;
    display: block;
    object-fit: cover;
}

.updates {
    display: flex;
    flex: 1;
    background: linear-gradient(#df0e5441 50%, #0b172b);
    border-radius: clamp(1px,0.65vw,10px);
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding:clamp(1px,1.3vw,20px);
    gap:0.65vw;
    color: white;
    justify-content: space-between;

}

.updates .updates-link:hover{
    color: rgb(224, 11, 82);
}

.updates .updates-link {
    transition: 0.3s;
}



.updates ul {
    list-style: none;
    padding: 0;
}

.updates li {
    margin-bottom: 8px;
    font-size: 20px;
}

.updates a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: clamp(12px, 1.44vw - 0.76px, 21px);
}


.updates .highlight {
    color: rgb(168, 7, 61);
    font-weight: bold;
    font-size: 20px;
}

.updates .spoiler {
    color: rgb(168, 7, 61);
    font-size: 20px;
}

@media (max-width: 855px){
    .content-line1 .description{
        flex-direction: column;
    }
    .content-line1 .description .image_base{
        width: 100% !important;
        max-width: none !important;
    }
    .content-line1 .description .description-text{
        width: auto !important;
        gap: 10px;
    }
    .content-line1 .updates{
        min-height: 300px;

    }

    .content-line2, .content-line3{
        flex-direction: column;
    }

    .content-line2 .school-image-base{
        width: 100% !important;
    }

    .content-line2 .about-school{
        width: auto !important;
        gap: 10px;
        background: linear-gradient(0deg, #0b172b,#df0e5441);
    }

    .content-line3 .island-image-base{
        width: 100% !important;
    }
    
    .content-line3 .about-island {
        width: auto !important;
        gap:10px;
        background: linear-gradient(180deg, #0b172b,#df0e5441);
    }
}

.content-line4 .top-classes{
    padding:clamp(1px,1.3vw,20px);
    display: flex;
    flex-direction: column;
    gap:clamp(1px,0.65vw,10px);
}

.content-line4 .top-users{
    padding:clamp(1px,1.3vw,20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-line4 .top-classes h1,.content-line4 .top-users h1{
    text-align: center;
}

.content-line4 button{
    font-family: 'Vag-Bold';
    font-size: var(--fs-nav-links);
}

.content-line4{
    display: flex;
    gap:30px;
    width: 100%;
}

.content-line4 .top-classes{
    width: 50%;
    background: linear-gradient(#df0e5441 50%, #0b172b);
    flex:1;
    border-radius: clamp(1px,0.65vw,10px);
}

.top-classes .top-classes-buttons .classes-button-active{
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}


.top-table,.users-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.top-table td{
    padding-block:clamp(1px,0.65vw,10px);
}

.top-table img{
    height: clamp(1px,6.5vw,100px);
    width: clamp(1px,6.5vw,100px);
    border-radius: clamp(1px,0.65vw,10px);
    display: block; 
    margin: 0 auto;
}

.top-table .class-lider{
    padding-left: clamp(1px,0.65vw,10px);
}

.top-table .class-points{
    text-align: right;
}

.content-line4 .full-stat{
    display: flex;
    justify-content: center;
}

.content-line4 .top-users{
    width: 50%;
    background: linear-gradient(#df0e5441 50%, #0b172b);
    flex:1;
    border-radius: clamp(1px,0.65vw,10px);

}


.top-users img{
    height: clamp(1px,3.25vw,50px);
    width: clamp(1px,3.25vw,50px);
    border-radius: clamp(1px,0.65vw,10px);
    display: block; 
    margin: 0 0;
}

.top-users .nickname, .top-users .nickname-head{
    padding-left: clamp(1px,0.65vw,10px);
    text-align: left;
}

.users-table td{
    padding-block:clamp(1px,0.65vw,10px);
}

.top-users .rank, .top-users .rank-head{
    text-align: left;
}

.top-users .status, .top-users .status-head{
    text-align: center;
}

.top-users .rating, .top-users .rating-head{
    text-align: right;
}

.top-users .status p, .top-users .nickname p {
    font-family: 'Vag-Bold';
}

.top-users .status p{
    color: rgb(220, 10, 80);
}

.content-line4 .top-classes-buttons{
    display: flex;
    justify-content: center;
    gap:clamp(1px,1.3vw,20px);
}

.content-line4 .top-users th{
    font-weight: 400;
}



.buttons-containers {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.base-dcote {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: clamp(1px,0.78vw,12px);
    flex: 1;
    overflow: hidden;
    background: linear-gradient(#df0e5431 80%, #0b172b);
}

.base-dcote-image {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 20;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 2.8/1;
    overflow: hidden;
    border-radius: inherit;
    box-sizing: border-box;
}

.base-dcote-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    box-sizing: border-box;
}


.banner-info {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Pan-Regular', sans-serif;
    gap:clamp(1px,0.65vw,10px);
    padding:clamp(1px,1.3vw,20px);
}



.banner-info button, .about-school button {
    font-family: 'Vag-Bold', sans-serif;
}

.banner-info .text{
    display: flex;
    flex-direction: column;
    gap:clamp(1px,1.3vw,20px);
    align-items: center;
}


.banner-info p {
    margin: 0px;
    text-align: center;
}



.footer-nav {
    margin-top: 0px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}


.footer-left {
    display: flex;
    gap: 10%;
    flex:1;
    align-items: center;
}

.footer-center p{
    font-size: var(--fs-footer);
    color: white;
    font-family: 'Vag-Thin';
    text-align: center;
    justify-self: center;
    flex:1;
}


.social-nets-logos {
    height: 2vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.footer-right {
    display: flex;
    flex:1;
    justify-content: flex-end;
}

/* ===== Общие начальные состояния ===== */
.scale-in,
.slide-in-left,
.slide-in-right,
.slide-in-top {
  opacity: 0;
  will-change: transform, opacity;
}

/* ===== УВЕЛИЧЕНИЕ (картинка) ===== */
.scale-in {
  transform: scale(0.85);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.scale-in.show {
  opacity: 1;
  transform: scale(1);
}

/* ===== ПРИЛИВ СЛЕВА (текст) ===== */
.slide-in-left {
  transform: translateX(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СПРАВА (обновления, опционально) ===== */
.slide-in-right {
  transform: translateX(40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СВЕРХУ (обновления, опционально) ===== */
.slide-in-top {
  transform: translateY(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-top.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 855px) {
  .scale-in,
  .slide-in-left,
  .slide-in-right,
  .slide-in-top  {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
  }
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

