@font-face {
    font-family: 'Vag-Heavy';
    src: url('fonts/VAG\ Rounded\ Next\ Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Bold';
    src: url('fonts/VAG\ Rounded\ Next\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Medium';
    src: url('fonts/VAG\ Rounded\ Next\ Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Regular';
    src: url('fonts/VAG\ Rounded\ Next\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Vag-Thin';
    src: url('fonts/VAG\ Rounded\ Next\ Thin.ttf') format('truetype');
}

:root {
    --fs-title1: clamp(5px, 2.75vw, 42px);
    --fs-title2: clamp(5px, 2.35vw, 36px);
    --fs-title3: clamp(5px, 1.8vw, 28px);
    --fs-text: clamp(5px, 1.15vw, 18px);
    --fs-nav: clamp(5px, 0.91vw, 14px);
    --fs-login: clamp(5px, 1.30vw, 20px);
    --fs-footer: clamp(5px, 0.78vw, 12px);
    --fs-nav-links: clamp(5px, 1.17vw, 18px);
}

h1{
    font-size: var(--fs-title1);
    font-family: 'Vag-Heavy';
    line-height: 1.15em;
    color: white;
    margin:0px;
    font-weight: 400;
}

h2{
    font-size: var(--fs-title2);
    font-family: 'Vag-Bold';
    line-height: 1.2em;   
    color: white;
    margin:0px; 
    font-weight: 400;
}

h3{
    font-size: var(--fs-title3);
    font-family: 'Vag-Medium';
    line-height: 1.25em;
    color: white;
    margin:0px;
    font-weight: 400;
}

p{
    font-size: var(--fs-text);
    font-family: 'Vag-Regular';
    line-height: 1.4em;
    color: white;
    margin:0px;
}

button {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border: 3px solid rgb(229, 11, 85);
    border-radius: 10px;
    padding-block: 9px;
    padding-inline: 35px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #33333300;
    align-items: center;
}


button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}

body {
    margin: 0;
    padding: 0;
    height: 100%; 
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pan-Regular', sans-serif;
    background-image: url('images/test.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}


main {
    max-width: 1540px;
    margin: 0 auto;
    padding: 30px;
    flex: 1;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/* ==== Навбар НАЧАЛО ==== */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1500;
    text-decoration: none;
}

/* ==== Навбар левая часть ==== */

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .logo-link,.footer-nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo,.footer-nav .logo {
    height: 2vw;
    width: auto;
    padding-block: 10px;
}

/* ==== Навбар центральная часть ==== */

.navbar .center {
    flex: 1;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Vag-Medium', sans-serif;
    font-size: var(--fs-nav)
}

.navbar a span {
    position: relative;
    display: inline-block;
}

.navbar a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.navbar a:hover {
    color: rgb(224, 11, 82);
}

.navbar  a:hover span::after {
    width: 100%;
    background: rgb(224, 11, 82);
}

/* ==== Навбар правая часть ==== */

.navbar .right {
    min-width: 130px;
}

.navbar .right button {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Vag-Bold', sans-serif;
    font-size: var(--fs-login);
    border: 3px solid rgb(229, 11, 85);
    border-radius: 10px;
    padding-block: 6px;
    padding-inline: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #33333300;
    align-items: center;
}


.navbar .right button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}


/* ==== НАВБАР МОБИЛКА ==== */

/* ==== Гамбургер ==== */

.navbar .hamburger svg{
    color: rgb(224, 11, 82);
    transition: 0.2s;
}


.navbar .hamburger:hover svg{
    color: rgb(143, 17, 68);
}


.navbar .hamburger {
    display: none;
    background: none;
    border: none;
    color: rgb(224, 11, 82);
    cursor: pointer;
}

/* ==== Менюшка сбоку ==== */

.side-menu {
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100%;
    background: rgb(28, 22, 46);
    padding: 30px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.side-menu.open {
    right: 0;
}


.navbar .login-btn-mobile{
    background: none;
    border: none;
    display: none;
}

.navbar .right-mobile{
    display: flex;
}

/* ==== Адаптив ==== */

@media (max-width: 1060px) {
    .center {
        display: none;

    }

    .navbar{
        padding: 5px 20px;
    }
    .navbar a {
        margin: 0px 0px;
        color: white;
        text-decoration: none;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 12px;
    }

    .navbar .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        padding: 5px;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    .navbar .right{
        display: none;
    }

    .navbar .right-mobile .login-btn-mobile  {
        margin: 0 20px;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 14px;
        border: 2px solid rgb(229, 11, 85);
        border-radius: 10px;
        padding-block: 6px;
        padding-inline: 15px;
        justify-content: center;
        cursor: pointer;
        background-color: #33333300;
        align-items: center;
        display: flex;
    }

    .navbar .right-mobile{
        min-width: 130px;
        align-items: center;

    }

    .navbar .right-mobile .login-btn-mobile:hover {
        background-color: rgb(143, 17, 68);
        border-color: rgb(143, 17, 68);
    }

    .navbar .logo,.footer-nav .logo{
        height: 25px !important;
        width: auto;
        padding-block: 10px;
    }


    .footer-nav .social-nets-logos {
    height: 25px !important;
    width: auto;
    }

    .footer-nav{
        padding: 5px 20px !important;
    }

    .footer-center p{
        padding:0% 20% !important;
    }

    main {
        padding: 20px;
        gap: 20px;
    }

}



.side-menu .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.side-menu .close-btn svg{
    color: white;
    transition: 0.2s;
}

.side-menu .close-btn svg:hover{
    color: rgb(224, 11, 82);
    transform: rotate(90deg);
}

.side-link-first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.side-links a {
    color: white;
    font-family: 'Pan-Regular';
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}


.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}


.navigation-links{
    display:flex;
    font-size: var(--fs-nav-links);
    font-family: 'Vag-Medium';
    color:white;
    gap:8px;
    justify-content:center;
    margin-top: 10px;
}

.navigation-links p{
    margin:0px;
}

.navigation-links a{
    text-decoration:none;
    color:white;
}

.navigation-links a:hover{
    scale:1.1;
}


.current-page {
    color: rgb(229, 11, 85) !important;
}

a.current-page  span {
    position: relative;
    display: inline-block;
}


a.current-page span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: rgb(229, 11, 85);
}

/* ==== НАВБАР КОНЕЦ ==== */














