






.page-login .auth-container{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    
}

.page-login .auth-image{
    width: 35%;
    overflow: hidden;
    aspect-ratio: 0.75;
    z-index: 100;
}

.page-login .auth-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-position: top;
    border-radius: 10px;
}

.page-login .auth-form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,#df0e5431 50%, #0b172b);
    padding:clamp(1px,1.3vw,20px);
    z-index: 10;
}

.page-login .auth-form h1{
    text-align: center;
}

.page-login .auth-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.page-login .auth-form button {
    font-family: 'Vag-Bold', sans-serif;
    font-size: var(--fs-nav-links);

}


.page-login .auth-form input{
    background: transparent;
    border: clamp(0.01px,0.195vw,3px) solid rgb(229, 11, 85);
    border-radius: clamp(1px,0.455vw,7px);
    padding-block: clamp(1px,0.39vw,6px);
    padding-inline: clamp(1px,0.975vw,15px);
    outline: none;
    color: inherit;
    font-size: inherit;
    font-size: var(--fs-text);
    font-family: 'Vag-Regular';
    line-height: 1.4em;
    color: white;
    margin:0px;
    width: 65%;
}

.page-login .auth-form a{
    text-decoration: none;
    color: rgb(229, 11, 85);
    font-family: 'Vag-Medium';
}




.page-login .input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:7px
}














.footer-nav {
    margin-top: 0px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}


.footer-left {
    display: flex;
    gap: 10%;
    flex:1;
    align-items: center;
}

.footer-center p{
    font-size: var(--fs-footer);
    color: white;
    font-family: 'Vag-Thin';
    text-align: center;
    justify-self: center;
    flex:1;
}


.social-nets-logos {
    height: 2vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.footer-right {
    display: flex;
    flex:1;
    justify-content: flex-end;
}

/* ===== Общие начальные состояния ===== */
.scale-in,
.slide-in-left,
.slide-in-right,
.slide-in-top {
  opacity: 0;
  will-change: transform, opacity;
}

/* ===== УВЕЛИЧЕНИЕ (картинка) ===== */
.scale-in {
  transform: scale(0.85);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.scale-in.show {
  opacity: 1;
  transform: scale(1);
}

/* ===== ПРИЛИВ СЛЕВА (текст) ===== */
.slide-in-left {
  transform: translateX(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СПРАВА (обновления, опционально) ===== */
.slide-in-right {
  transform: translateX(40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СВЕРХУ (обновления, опционально) ===== */
.slide-in-top {
  transform: translateY(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-top.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 855px) {
  .scale-in,
  .slide-in-left,
  .slide-in-right,
  .slide-in-top  {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
  }
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

