@font-face {
    font-family: 'Pan-Thin';
    src: url('fonts/VAG\ Rounded\ Next\ Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Pan-Regular';
    src: url('fonts/VAG\ Rounded\ Next\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Pan-Light';
    src: url('fonts/VAG\ Rounded\ Next\ Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Pan-Bold';
    src: url('fonts/VAG\ Rounded\ Next\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pan-Medium';
    src: url('fonts/VAG\ Rounded\ Next\ Medium.ttf') format('truetype');
}


body {
    margin: 0;
    padding: 0;
    height: 100%; 
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Pan-Regular', sans-serif;
    background-image: url('images/test.png');
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}


main {
    max-width: 1240px;
    margin: 0 auto;
    padding: 35px;
    flex: 1;
    gap: 35px;
    display: flex;
    flex-direction: column;
}


/* ==== Навбар НАЧАЛО ==== */

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    z-index: 1500;
    text-decoration: none;
}

/* ==== Навбар левая часть ==== */

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .logo-link,.footer-nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar .logo,.footer-nav .logo {
    height: 2vw;
    width: auto;
    padding-block: 10px;
}

/* ==== Навбар центральная часть ==== */

.navbar .center {
    flex: 1;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-family: 'Pan-Regular', sans-serif;
    font-size: clamp(11px,0.6vw,100px)
}

.navbar a span {
    position: relative;
    display: inline-block;
}

.navbar a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 1px;
    background: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.navbar a:hover {
    color: rgb(224, 11, 82);
}

.navbar  a:hover span::after {
    width: 100%;
    background: rgb(224, 11, 82);
}

/* ==== Навбар правая часть ==== */


.navbar .right button {
    margin: 0 20px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Pan-Regular', sans-serif;
    font-size: clamp(14px,0.8vw,100px);
    border: 2px solid rgb(229, 11, 85);
    border-radius: 10px;
    padding-block: 6px;
    padding-inline: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #33333300;
    align-items: center;
    min-width: 130px;
}


.navbar .right button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}


/* ==== НАВБАР МОБИЛКА ==== */

/* ==== Гамбургер ==== */

.navbar .hamburger svg{
    color: rgb(224, 11, 82);
    transition: 0.2s;
}


.navbar .hamburger:hover svg{
    color: rgb(143, 17, 68);
}


.navbar .hamburger {
    display: none;
    background: none;
    border: none;
    color: rgb(224, 11, 82);
    cursor: pointer;
}

/* ==== Менюшка сбоку ==== */

.side-menu {
    position: fixed;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100%;
    background: rgb(28, 22, 46);
    padding: 30px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.side-menu.open {
    right: 0;
}


.navbar .login-btn-mobile{
    background: none;
    border: none;
    display: none;
}

.navbar .right-mobile{
    display: flex;
}

/* ==== Адаптив ==== */

@media (max-width: 1060px) {
    .center {
        display: none;

    }

    .navbar{
        padding: 5px 20px;
    }
    .navbar a {
        margin: 0px 0px;
        color: white;
        text-decoration: none;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 12px;
    }

    .navbar .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        padding: 5px;
        margin: 0;
        border: none;
        background: none;
        cursor: pointer;
    }
    
    .navbar .right{
        display: none;
    }

    .navbar .right-mobile .login-btn-mobile  {
        margin: 0 20px;
        color: white;
        text-decoration: none;
        transition: 0.3s;
        font-family: 'Pan-Regular', sans-serif;
        font-size: 14px;
        border: 2px solid rgb(229, 11, 85);
        border-radius: 10px;
        padding-block: 6px;
        padding-inline: 15px;
        justify-content: center;
        cursor: pointer;
        background-color: #33333300;
        align-items: center;
        display: flex;
    }

    .navbar .right-mobile{
        min-width: 130px;
        align-items: center;

    }

    .navbar .right-mobile .login-btn-mobile:hover {
        background-color: rgb(143, 17, 68);
        border-color: rgb(143, 17, 68);
    }

    .navbar .logo,.footer-nav .logo{
        height: 25px !important;
        width: auto;
        padding-block: 10px;
    }


    .footer-nav .social-nets-logos {
    height: 25px !important;
    width: auto;
    }

    .footer-nav{
        padding: 5px 20px !important;
    }

    .footer-center p{
        padding:0% 20% !important;
    }

    main {
        padding: 20px;
        gap: 20px;
    }

    .cont-1,.cont-2,.dormitory .desc{
        padding: 20px !important;
        gap: 20px !important;
    }
}



.side-menu .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 2px;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.side-menu .close-btn svg{
    color: white;
    transition: 0.2s;
}

.side-menu .close-btn svg:hover{
    color: rgb(224, 11, 82);
    transform: rotate(90deg);
}

.side-link-first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.side-links a {
    color: white;
    font-family: 'Pan-Regular';
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}


.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

/* ==== НАВБАР КОНЕЦ ==== */



.navigation-links{
    display:flex;
    font-size: clamp(14px,0.8vw,100px);
    color:white;
    gap:8px;
    justify-content:center;
}

.navigation-links p{
    margin:0px;
}

.navigation-links a{
    text-decoration:none;
    color:white;
}

.navigation-links a:hover{
    scale:1.1;
}


.current-page {
    color: rgb(229, 11, 85) !important;
    font-family: 'Pan-Regular', sans-serif;
}

a.current-page  span {
    position: relative;
    display: inline-block;
}


a.current-page span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: rgb(229, 11, 85);
}


.buttons-containers {
    display: flex;
    flex-direction: column;
    gap: 35px;
}


.base-dcote {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    flex: 1;
    overflow: hidden;
    background: linear-gradient(#df0e5431 80%, #0b172b);
}

.base-dcote-image {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 20;
}

.image-wrapper {
    width: 100%;
    aspect-ratio: 2.8/1;
    overflow: hidden;
    border-radius: inherit;
    box-sizing: border-box;
}

.base-dcote-image img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    box-sizing: border-box;
}


.banner-info {
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Pan-Regular', sans-serif;
    gap:15px;
}



.banner-info button, .about-school button {
    color: white;
    font-family: 'Pan-Bold', sans-serif;
    font-size: clamp(10px, 1.2vw + 0.72px, 18px);
    border: 2px solid rgb(229, 11, 85);
    border-radius: 0.6em;
    padding: 0.5em 1.4em;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    margin-block: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.banner-info button{
    margin-bottom: 15px;
}

.banner-info button:hover,.about-school button:hover {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
}

.banner-info h2 {
    font-size: clamp(16px, 3.6vw + 0.1px, 48px);
    text-align: center;
    color: white;
    font-family: 'Pan-Bold', sans-serif;
    margin:0px;
    margin-top: 15px;
}

.banner-info p {
    font-size: clamp(10px, 1.2vw + 0.72px, 18px);
    margin: 0px;
    color: white;
    text-align: center;
    font-family: 'Pan-Regular', sans-serif;
    padding-inline: 60px;
    padding: 0% 0%;
}




.footer-nav {
    margin-top: 0px;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg,rgb(78, 28, 57) 0%,rgb(78, 28, 57) 7%, rgb(28, 22, 46) 50%,rgb(78, 28, 57) 93%,rgb(78, 28, 57) 100%);
    align-items: center;
    display: flex;
    text-decoration: none;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}


.footer-left {
    display: flex;
    gap: 10%;
    flex:1;
    align-items: center;
}

.footer-center p{
    font-size: clamp(5px, 0.5vw, 16px);
    color: white;
    font-family: 'Pan-Regular';
    text-align: center;
    justify-self: center;
    flex:1;
    padding:0% 30%;
}


.social-nets-logos {
    height: 2vw;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.footer-right {
    display: flex;
    flex:1;
    justify-content: flex-end;
}

/* ===== Общие начальные состояния ===== */
.scale-in,
.slide-in-left,
.slide-in-right,
.slide-in-top {
  opacity: 0;
  will-change: transform, opacity;
}

/* ===== УВЕЛИЧЕНИЕ (картинка) ===== */
.scale-in {
  transform: scale(0.85);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.scale-in.show {
  opacity: 1;
  transform: scale(1);
}

/* ===== ПРИЛИВ СЛЕВА (текст) ===== */
.slide-in-left {
  transform: translateX(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-left.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СПРАВА (обновления, опционально) ===== */
.slide-in-right {
  transform: translateX(40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* ===== ПРИЛИВ СВЕРХУ (обновления, опционально) ===== */
.slide-in-top {
  transform: translateY(-40px);
  transition:
    opacity 0.9s ease 0.3s,
    transform 0.9s ease 0.3s;
}

.slide-in-top.show {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 855px) {
  .scale-in,
  .slide-in-left,
  .slide-in-right,
  .slide-in-top  {
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
  }
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}