@font-face {
    font-family: 'Wiguru';
    src: url('fonts/wiguru-13.ttf') format('truetype');
}

@font-face {
    font-family: 'Ofont';
    src: url('fonts/ofont.ru_Copperplate.ttf') format('truetype');
}

@font-face {
    font-family: 'lemon_milk';
    src: url('fonts/lemon_milk.otf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Wiguru', sans-serif;
    padding-top: 40px;
}


main {
    flex: 1;
    width: 80%;
    margin: 20px auto 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(165,2,57);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
}


.left {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    width: 90px;
    height: auto;
}

.navbar .center a{
    margin: 0 50px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .right a {
    margin: 0 40px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar .right {
    min-width: 200px;
    text-align: right;
}


.navbar a:hover {
    color: rgb(73, 0, 24);
}


.navbar .center {
    flex: 1;
    text-align: center;
}

.content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.input-with-icon {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid rgb(165, 2, 57);;
    border-radius: 8px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.input-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



.input-with-icon input {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    font-family: 'Ofont', sans-serif;
    color: rgb(165,2,57);
}

.input-with-icon input::placeholder {
    color: rgb(165, 2, 57);
}


.filters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.filter-select {
    flex: 1;
    padding: 8px 12px;
    border: 2px solid rgb(165, 2, 57);
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    box-sizing: border-box;
    color: rgb(165,2,57);
    font-family: 'Ofont', sans-serif;
}

.filter-button {
    flex: 1;
    padding: 8px 12px;
    border: 2px solid rgb(165, 2, 57);
    border-radius: 8px;
    color: rgb(165, 2, 57);
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Ofont', sans-serif;
}


.filter-button:hover {
    color: rgb(200, 0, 50);
}

.news-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.news1 {
    display: flex;
    border: 2px solid rgb(165, 2, 57);
    border-radius: 8px;
    color: rgb(165, 2, 57);
    width: 100%;
    min-width: 50vh;
    height: 100px;
    overflow: hidden;
}



.news1 .new-img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 6px;
    margin-right: 10px;
}

.news1 .pin-img{
    width: 30px;
    height: 30px;
    margin-top: 14px;
    position: absolute;
    margin-left: 130px;
}

.news-text{
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    margin-left: 30px;
    flex: 1;
    min-width: 0;
}

.news-text h1{
    margin: 0px;
    font-size: 30px;
    font-family: 'lemon_milk',sans-serif;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.news-text p{
    margin: 0px;
    font-size: 16px;
    font-family: 'ofont',sans-serif;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.news-comms-date{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.news-comms-date img{
    height: 15px;
    width: auto;
    margin-top: 2px;
}

.comms-number {
    min-width: 80px;
}

.footer-nav {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(165,2,57);
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
    margin-top: 20px;
    box-sizing: border-box;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.footer-nav a:hover {
    text-decoration: underline;
}