@font-face {
    font-family: 'Vag-Bold';
    src: url('/fonts/VAG\ Rounded\ Next\ Bold.ttf') format('truetype');
}

.mobile-drop-menu{
    position: absolute;
    bottom: 100%;
    transform: translateY(10vh);
    left: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    flex-direction: column;


    background: linear-gradient(360deg, #0b172b, #331635);
    font-family: 'Vag-Bold';
    font-size: 1.5rem;
    width: 100vw;
    height: 15rem;
    
    gap: clamp(5px, 3.3vw, 20px);
    padding: clamp(5px, 3.3vw, 20px);
    border-radius: clamp(1px, 0.65vw, 10px);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease, transform 0.25s ease;
}
.mobile-drop-menu>a>img{
    height: clamp(30px, 4.25vw, 1.563vw);
    width: clamp(30px, 4.25vw, 1.563vw);
}
.mobile-drop-menu>a{
    transition: 0.3s;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.mobile-drop-menu>a:hover{
    background-color: rgb(143, 17, 68);
}
.mobile-drop-menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
